[Desktop Entry]
Type=Application
Name=galaxy-systrkr
Comment=Lightweight CPU + GPU panel applet
Exec=galaxy-systrkr
Icon=com.goldengod503.GalaxySysTrkr
Terminal=false
Categories=System;Monitor;
NoDisplay=true
X-CosmicApplet=true
